<!DOCTYPE html>
<html>
  <head>
    <title>Kakeibo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if flash.notice %>
      <%= flash.notice %>
    <% end %>
    <!--共通-->
    <header>
      <div class="header-logo">
        <h1>Kakeibo</h1>
      </div>
      <ul class="header-menus">
        <% if session[:user_id] %>
          <li>
            現在ログイン中のユーザーid:
            <%= session[:user_id] %>
          </li>
        <% end %>
        <li>
          <a href="/">Top</a>
        </li>
        <li>
          <%= link_to("ユーザー一覧", "/users/index")%>
        </li>
        <li>
          <%= link_to("新規登録", "/signup") %>
        </li>
        <li>
          <%= link_to("ログイン", "/login") %>
        </li>
      </ul>
    </header>

    <%= yield %>
  </body>
</html>
